﻿@using DadsSandwiches.ViewModels

@model AdminDashboard

@{
    ViewBag.Title = "Admin Dashboard";
}

@section scripts {}

<section class="page">

<h2>@ViewBag.Title</h2>
<hr/>
<h3>Restaurants</h3>
@foreach (var restaurant in Model.Restaurants) {
    <p>@restaurant.Name</p>
    <p>Menus: @foreach (var menu in restaurant.Menus) {
        <span style="margin-right: 1em;">@menu.Name</span>
    }
    </p>
}
<hr/>
<h3>Catering Inquiries</h3>
@foreach (var inquiry in Model.CateringInquiries)
{
    <h5>Event Info</h5>
    <p><span>Event Date:</span>@inquiry.EventDate</p>
    <p><span>Description:</span>@inquiry.Description</p>
    <h5>Contact Info</h5>
    <p><span>Name:</span>@inquiry.Contact.Name</p>
    <p><span>Email:</span>@inquiry.Contact.Email</p>
    <p><span>Phone:</span>@inquiry.Contact.Phone</p>
    <p><span>Inquiry Date:</span>@inquiry.InquiryDate</p>
}
</section>

