﻿@using DadsSandwiches.Models;

@model CateringInquiry

@{
    ViewBag.Title = "Catering";
}

@section scripts {
<script type="text/javascript" src="@Url.Content("~/static/scripts/jquery.validate.min.js")"></script>
<script type="text/javascript" src="@Url.Content("~/static/scripts/jquery.validate.unobtrusive.min.js")"></script>
}

<section id="main">
    <p>Dad's offers breakfast and lunch catering for events of all sizes, available throughout the week and on Saturday. 
    We take pride in providing an impressive menu and our <i>always on-time</i> delivery.</p>
    <p>Treat your clients to a delicious sandwich or salad, or coordinate an office lunch with your co-workers. Family 
    and friends too can enjoy our catering services for birthdays, social parties, or any other special event.</p>
    <p>Check out our most common catering deals below. For questions and inquiries, and a truly custom catering experience 
    inquire:</p>
    <hr/>

    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(model => model.Contact.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Contact.Name)
        @Html.ValidationMessageFor(model => model.Contact.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Contact.Email)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Contact.Email)
        @Html.ValidationMessageFor(model => model.Contact.Email)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Contact.Phone)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Contact.Phone)
        @Html.ValidationMessageFor(model => model.Contact.Phone)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.Description, new { rows = "6", style="width: 90%;" })
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <input id="submit" type="submit" value="Inquire" />
    }
</section>

<aside id="sidebar">
    <section>
        <img src="@Url.Content("~/static/images/djandmick.jpg")" alt="DJ &amp; Mick" />
    </section>

    <section>
        <img src="@Url.Content("~/static/images/djandmick.jpg")" alt="DJ &amp; Mick" />
    </section>

    <section>
        <img src="@Url.Content("~/static/images/djandmick.jpg")" alt="DJ &amp; Mick" />
    </section>
</aside>

<style>
    
</style>