﻿@{
    ViewBag.Title = "ContactUs";
}

<section id="main">
    <h3>About Dad's</h3>
    <p>Since 2004, Dad’s Sandwiches has been the downtown shop to go to when looking for unique and delicious sandwiches and salads.</p>
    <p>We have a wide variety of menu items to choose from, daily specials, make your own sandwich, and even Vegan menu items on Saturdays.</p>
    <p>Dad’s serves breakfast and lunch, Monday through Friday 7am to 4pm, and Saturday 10am to 4pm.</p>
</section>

<aside id="sidebar">
    <section>
        <h4>Contact Us</h4>
        <p><a href="mailto:dadssandwiches@gmail.com" style="display: block;margin:1em 0;">Email Dad's</a></p>
        <p><span style="color:#ffffff;">(916) 448-3237</span> (J St.)</p>
        <p><span style="color:#ffffff;">(916) 448-3237</span> (S St.)</p>
    </section>
    <section>
        <img src="@Url.Content("~/static/images/djandmick.jpg")" alt="DJ &amp; Mick" />
        <h4>Rock a Dad's T-Shirt!</h4>
        <p>Order by phone, or grab one in store today.</p>
    </section>
</aside>