﻿@{
    ViewBag.Title = "Welcome to Dad's Sandwiches!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
	
<section id="main">
    <article>
	    <header>
		    <h1>Dad's Opens a New Restaurant!</h1>
		    <h5>Paragraph - H5</h5>
            <p>Marshall, Will, and Holly on a routine expedition, met the greatest earthquake ever known. High on the rapids, it struck their tiny raft! And plunged them down a thousand feet below... to the Land of the Lost! Lost! Lost! Lost! Lost!</p>
            <h6>Paragraph - H6</h6>
            <p>He was once a little green slab of clay. Gumby! You should see what Gumby can do today. Gumby! He can walk into any book, with his pony pal Pokey, too. If you've got <a href="#">a heart then</a> Gumby's a part of you.</p>
	    </header>
	    <section>
		    <h3>Section Header - H3</h3>
		    <p>Come and knock on our door. We've been waiting for you. Where the kisses are hers and hers and his, three's company, too! Come and dance on our floor. Take a step that is new. We've a lovable space that needs your face, three's company, too! You'll see that life is a ball again and laughter is callin' for you. Down at our rendezvous, <a href="#">three's company, too!</a></p>
            <p>People let me tell you 'bout my best friend, he's a warm-hearted person who'll love me till the end. People let me tell you 'bout my best friend, he's a one boy cuddly toy, my up, my down, my pride and joy. People let me tell you 'bout him he's so much fun whether we're talkin' man to man or whether we're talking son to son. Cause he's my best friend. Yes he's my best friend.</p>
	    </section>
	    <section>
		    <h4>Section Header - H4</h4>
		    <p>My bologna has a first name, it's O-s-c-a-r. My bologna has a second name, it's M-e-y-e-r. Oh, I love to eat it every day, and if you ask me why, I'll say: 'cuz Oscar Meyer has a way with b-o-l-o-g-n-a. How's that?</p>
            <p>The world looks mighty good to me, cause Tootsie Rolls are all I see. Whatever it is I think I see, becomes a Tootsie Roll to me! Tootsie Roll how I love your chocolatey chew, Tootsie Roll I think I'm in love with you. Whatever it is I think I see, becomes a Tootsie Roll to me!</p>
	    </section>
	    <footer>
		    <h6>Footer - h6</h6>
		    <p>Mister Trouble never hangs around when he hears this Mighty sound: "Here I come to save the day!" That means that Mighty Mouse is on his way. Yes sir, when there is a wrong to right <a href="#">Mighty Mouse will</a> join the fight. On the sea or on the land, he gets the situation well in hand!</p>
	    </footer>
    </article>
</section>
<aside id="sidebar">
	<section>
        <h4>Special!</h4>
	    <p>High on the rapids, it struck their tiny raft! And plunged them down a thousand feet below... to the Land of the Lost! Lost! Lost! Lost! Lost!</p>
    </section>
    <section>
	    <a href="/contact-us"><img src="@Url.Content("~/static/images/djandmick.jpg")" alt="DJ &amp; Mick" /></a>
    </section>
    <footer>
        <ul class="socialLinks">
        <li><a class="socialIcon yelp32" href="http://yelp.com/biz/dads-sandwich-shop-sacramento" title="Yelp"></a></li>
        <li><a class="socialIcon facebook32" href="http://facebook.com/dadssandwiches" title="Facebook"></a></li>
        <li><a class="socialIcon twitter32" href="http://twitter.com/dadssandwiches" title="Twitter"></a></li>
        </ul>
    </footer>
</aside>
			


	

