﻿@using DadsSandwiches.Models;

@model Restaurant

@{
    ViewBag.Title = "Index";
}

@section scripts { 
<script type="text/javascript">
    $(function () {
        $('.menu-item:nth-of-type(even)').addClass('menu-item-highlighted');
    });
</script>
}

<section style="padding:1em;padding-top:0;">

    <section class="restaurant-info">
        <h1 style="margin-bottom: 0; margin-top:0;">DAD'S @Html.Raw("@") @Model.Name</h1>
        <p><a href="@Model.MapUri" target="_blank">@Model.Address.Street, @Model.Address.City, @Model.Address.State @Model.Address.Zip</a></p>
        <p>@Model.Phone</p>
        <p>@Html.Raw(@Model.Hours)</p>
    </section>
    <section class="restaurant-image">
        <img src="@Url.Content("~/static/images/dads-" + @Model.Slug.ToLower() + "-640.jpg")" alt="@Model.Name" />
    </section>

@*<hr />*@
@foreach (var menu in @Model.Menus)
{
    <h2 class="menu-name">@menu.Name</h2>
    <ul class="menu">
        @foreach (var menuSection in @menu.Sections)
        {
            if (menuSection.Items.Count() <= 0) { continue; }
            <li class="menu-section"><h6 style="text-decoration: underline;">@menuSection.Name</h6></li>
            foreach (var item in menuSection.Items)
            {
                <li class="menu-item">
                    <div class="menu-item-header">
                        <span class="menu-item-name" style="color:#dd7e03; font-weight:bold;">@item.Name</span>
                        <span class="menu-item-price" style="float:right;color:#0275A7;">@item.Price.ToString("C")</span>
                    </div>
                    <p class="menu-item-description">@item.Description</p>
                </li>
            }
        }
    </ul>
}
</section>
