﻿@using DadsSandwiches.Models;

@model IEnumerable<Restaurant>

@{ }

<section id="main">
<h4 style="text-decoration: underline;margin-bottom:1em;">Restaurants</h4>
@foreach (var r in Model) {
    <article class="restaurant">
        <a href="/@r.Slug" title="@r.Description"><img src="@Url.Content("~/static/images/" + @r.Image)" alt="@r.Description" /></a>
        @*@Html.ActionLink(@r.Address, "Restaurant", "Home", new { slug = r.Slug }, new { @class = "button", style="font-weight:bold;" })*@
        @*<p class="address"><a href="@r.MapUri">@r.Address</a></p>
        <p class="hours">@Html.Raw(@r.Hours)</p>*@
    </article>
    }
</section>