﻿<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <!-- Meta Data -->
    <title>@ViewBag.Title</title>
	<meta name="description" content="Dads Sandwiches Restaurants">
	<meta name="author" content="Trey White">
    
    <!-- Mobile Viewport Reset -->
	<meta name="viewport" content="width=device-width">

    <!-- Icons -->
	<link rel="shortcut icon" href="@Url.Content("~/favicon.ico")">
	<link rel="apple-touch-icon" href="@Url.Content("~/apple-touch-icon.png")">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="@Url.Content("~/static/styles/dads.min.css?v=1.0")">
    <link href='http://fonts.googleapis.com/css?family=Nosifer|Rammetto+One|Architects+Daughter' rel='stylesheet' type='text/css'>
    @RenderSection("styles", false)
    
    <!-- Preload Scripts -->
    @*<script type="text/javascript" src="@Url.Content("~/static/scripts/modernizr-2.5.3.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/static/scripts/modernizr-2.5.3-respond-1.1.0.min.js")"></script>*@
</head>
<body>
    <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
    
    <!-- Header -->
    <div id="header-container">
		<header class="wrapper clearfix">
            <div id="logo">
			    <a href="/"><img src="@Url.Content("~/static/images/dads120.png")" alt="Dads Sandwiches" /></a>
            </div>
			<nav>
				<ul>
                    <li>@Ajax.ActionLink("J st.","Restaurant", "Home", new { Slug = "on-j" }, null)</li>
                    <li>@Ajax.ActionLink("S st.", "Restaurant", "Home", new { Slug = "on-s" }, null)</li>
                    <li>@Ajax.ActionLink("CATERING","Catering", "Home", null, null)</li>
                    <li>@Ajax.ActionLink("CONTACT US","ContactUs", "Home", null, null)</li>
				</ul>
			</nav>
		</header>
	</div>
    <!-- Main -->
    <div id="main-container">
		<div id="page" class="wrapper clearfix">
            @RenderBody()
		</div>
	</div>
    <!-- Footer -->
    <div id="footer-container">
		<footer class="wrapper">
			<p id="copyright"><small>Copyright &copy; 2012 Dads Sandwiches</small></p>
		</footer>
	</div>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript">        window.jQuery || document.write('<script src="/static/scripts/jquery-1.7.2.min.js"><\/script>')</script>
    <!-- scripts concatenated and minified via ant build script-->
    <script type="text/javascript" src="@Url.Content("~/static/scripts/dads.min.js")"></script>
    
    @RenderSection("scripts", false)

	<script type="text/javascript">
	    var _gaq = [['_setAccount', 'UA-24420935-1'], ['_setDomainName', 'www.dadssandwiches.com'], ['_trackPageview']];
        (function (d, t) {
            var g = d.createElement(t), s = d.getElementsByTagName(t)[0]; g.async = 1;
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
        } (document, 'script'));
    </script>
</body>
</html>