﻿/* ==========================================================================
   Default Theme:   Robot Retro / Tattoo Ink
   ========================================================================== */
   
    body { color: #445; background: #586f59;}
    a { color: #dd7e03;text-decoration: underline; }
    h1 { color: #0275A7;text-shadow: 0 0 1px #606080; }
    h2 { color: #dd7e03; text-shadow: 0 0 1px #bd5e00; }
    h3 { color: #0275A7;text-shadow: 0 0 1px #606080; }
    h4 { color: #dd7e03; text-shadow: 0 0 1px #bd5e00; }
    h5 { color: #dd7e03; text-shadow: 0 0 1px #bd5e00; }
    h6 { color: #334; text-shadow: 0 0 1px #606080; }
    ::-moz-selection { background: #dd7e03; color: #fff; text-shadow: none; }
    ::selection      { background: #dd7e03; color: #fff; text-shadow: none; }
    #logo { background: #dd7e03;border-color: #334;}
    nav a { background: #64a6c5; color: #222;border-color: #334; }
    nav a:hover, nav li:hover a {color:#f5f5f5;background: #606080;}
    #page {background: #f5f5f5;border-color: #334;}
    #sidebar section {
        color:#334; 
        background: #64a6c5; 
        border-color: #64a6c5;
        -webkit-box-shadow: -5px 5px 8px #334;
        -moz-box-shadow: -5px 5px 8px #334;
        box-shadow: -5px 5px 8px #334;
    }
    #sidebar section h4 {color: #334; text-shadow: 0 0 1px #223;}
    #sidebar section a { color: #fff;text-shadow: 0 0 3px #667; }
    #sidebar img { border-color: #b4b4b4; }
    #footer-container { color: #223;text-shadow: 0 0 1px #445; }
    
    .restaurant-image img { border-color: #b4b4b4; }
    .restaurant-image {
        color:#334; 
        background: #64a6c5; 
        border-color: #64a6c5;
        -webkit-box-shadow: -5px 5px 8px #334;
        -moz-box-shadow: -5px 5px 8px #334;
        box-shadow: -5px 5px 8px #334;
    }
    .menu-name {background: #606080; color: #f0f0f0;}
    .menu-item-highlighted { background: #e6e6ea; }

@media only screen and (min-width: 480px) {
    /* ===========================
        Layout: Tablet (Portrait)
       =========================== */
    #main-container .wrapper { border-color: #334;}
    #header-container .wrapper { background: #dd7e03;border-color:#334; }
	nav a { border-color: #334; }
}
@media only screen and (min-width: 768px) {
    /* ============================================
        Layout: Tablet (Landscape) & Small Desktop
       ============================================ */
    #header-container {background: #dd7e03;border-color: #334; }
    nav a { border-bottom-color: #334; }
}
