/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }

    html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    html, button, input, select, textarea { font-family: sans-serif; color: #222; }
    body { margin: 0; }

    a:focus { outline: thin dotted; }
    a:hover, a:active { outline: 0; }

    abbr[title] { border-bottom: 1px dotted; }
    b, strong { font-weight: bold; }
    blockquote { margin: 1em 40px; }
    dfn { font-style: italic; }
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #bbb; margin: 1em 0; padding: 0; }
    ins { background: #ff9; color: #000; text-decoration: none; }
    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
    pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
    q { quotes: none; }
    q:before, q:after { content: ""; content: none; }
    small { font-size: .833em; }

    sub, sup { font-size: .667em; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    ul, ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
    dd { margin: 0; }

    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

    svg:not(:root) { overflow: hidden; }

    figure { margin: 0; }

    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }
    label { cursor: pointer; }
    legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
    button, input { line-height: normal; }
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
    button[disabled], input[disabled] { cursor: default; }
    input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
    input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
    button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
    textarea { overflow: auto; vertical-align: top; resize: vertical; }
    input:valid, textarea:valid {  }
    input:invalid, textarea:invalid { background-color: #f0dddd; }

    table { border-collapse: collapse; border-spacing: 0; }
    td { vertical-align: top; }

    .chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


 /* === Modular Scale ==============
        http://modularscale.com
	    16px @ 1:1.5
        20px @ 1:1.5
    ================================
    1,153.305 	72.082 	8,871.577
    922.641 	57.665 	7,097.238
    768.870 	48.054 	5,914.385
    615.094 	38.443 	4,731.492
    512.580 	32.036 	3,942.923
    410.063 	25.629 	3,154.331
    341.720 	21.358 	2,628.615
    273.375 	17.086 	2,102.885
    227.813 	14.238 	1,752.408
    182.250 	11.391 	1,401.923
    151.875 	9.492 	1,168.269
    121.500 	7.594 	934.615
    101.250 	6.328 	778.846
    81.000   	5.063 	623.077
    67.500 	    4.219 	519.231
    54.000 	    3.375 	415.385
    45.000 	    2.813 	346.154
    36.000 	    2.25 	276.923
    30.000 	    1.875 	230.769
    24.000 	    1.5 	184.615
    20.000 	    1.25 	153.846
    16.000 	    1 	    123.077
    13.333 	    0.833 	102.562
    10.667 	    0.667 	82.054
    8.889 	    0.556 	68.377
    7.111 	    0.444 	54.700
    5.926 	    0.37 	45.585
    4.741 	    0.296 	36.469
    3.951 	    0.247 	30.392
    3.161 	    0.198 	24.315
    2.634 	    0.165 	20.262
    2.107 	    0.132 	16.208
    1.756 	    0.11 	13.508
    1.405 	    0.088 	10.808
    1.171 	    0.073 	9.008 
*/

/* ==========================================================
   Primary, Scale, & Typography Styles
   ========================================================== */
   
    body{ font: 16px/1.5em 'Architects Daughter', Helvetica, Helvetica Neue, Arial; }
    h1, h2, h3, h4, h5, h6 {
        margin: .247em 0;
        font-family: 'Rammetto One';
        font-weight: normal; 
        letter-spacing: 4px;
    }
    /* h1 { font-size: 2.25em; line-height: 2.25em;  } */
    /* h2 { font-size: 1.875em; line-height: 1.875em; } */
    h1, h2 { font-size: 1.875em; line-height: 1.875em;margin-bottom: .667em; }
    h3, h4 { font-size: 1.5em;line-height: 1.5em; }
    h5, h6 { font-size: 1em;line-height: 1.25em; }
    p { font-family: 'Architects Daughter';margin: 0 0 1em 0; }

    a { text-decoration: none; }
    a:hover { text-decoration: underline; }
    a:focus { outline: thin dotted; }   

    .editor-label { margin-top: 1em; }
    input[type=submit] { margin-top: 1em; }

    ul.socialLinks { list-style: none;}
    ul.socialLinks li { display: inline-block; }

    .socialIcon{ display:block;margin: 0 3px; }
    .yelp16 { background: url('/static/images/yelp_icon16.png') no-repeat;width:16px;height:16px; }
    .yelp32 { background: url('/static/images/yelp_icon32.png') no-repeat;width:32px;height:32px; }
    .facebook16 { background: url('/static/images/facebook16.png') no-repeat;width:16px;height:16px; }
    .facebook32 { background: url('/static/images/facebook32.png') no-repeat;width:32px;height:32px; }
    .twitter16 { background: url('/static/images/twitter16.png') no-repeat;width:16px;height:16px; }
    .twitter32 { background: url('/static/images/twitter32.png') no-repeat;width:32px;height:32px; }

/* ==========================================================
   Default Layout:  Mobile   (Portrait & Landsape <= 480px)
   ========================================================== */
   
    .wrapper{ width:96%; margin: 2% 2% 0 2%; }
    #logo { margin-bottom: .296em; padding: .667em 0; text-align:center; border: solid 2px; }
    nav a {
	    display:block;
        margin-bottom: .296em;
	    padding:.444em 0;
	    text-align:center;
	    text-decoration:none;
        font-family: 'Rammetto One';
        border: solid 2px;
    }
    nav a:hover, nav li:hover a { text-decoration:underline; }
    #page {
        margin: 0 auto;
        padding: 1em 0;
        border: solid 2px;
    }
    #main { margin: 0 1em; padding: 0;}
    
    #sidebar { margin-right: 1em;  }
    #sidebar section { margin-bottom: 1.5em; padding: 1em 1em; border-right: 0; }
    #sidebar section h4 { font-size: 1.25em;line-height: 1.25em; }
    #sidebar img {width:99%;border:solid 1px;}
    ul.socialLinks { float: right; }

    .restaurant-info {display:inline-block;margin: 0;}
    .restaurant-image { margin-bottom: 1.5em;padding: 1em 1em;border-right: 0;width:90%;max-height: 20em;display:inline-block; }
    .restaurant-image img {width: 99%;max-height: 20em;border:solid 1px;}
    .menu-name { margin: 2em 0 1em 0; padding-left: 2px; }
    .menu-section { margin-bottom: 1em; margin-top:2em; }





/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ===========================
        Layout: Tablet (Portrait)
       =========================== */
    #header-container .wrapper { left: -2px;position: relative; }
    #logo { margin: 0;text-align: left;border: 0; }
    #page { display: block;  }
    #main-container .wrapper { border: solid 2px}
    #header-container .wrapper { border: solid 2px;border-bottom: 0; }
    nav { border: 0;margin-left: 1em;}
	nav a {
	    display: inline-block;
	    margin: 0;
	    padding:1em .444em;
	    border: solid 2px;
	    border-bottom: 0;
	    text-align: center;
	    margin-bottom: 0;
		
	}
	nav li:first-child a{ }
	nav li:last-child  a{ }
    /* IE Fixes */
	nav ul li{ display:inline; }	
	.oldie nav a{ margin:0 0.7%; }
}

@media only screen and (min-width: 768px) {

    /* ============================================
        Layout: Tablet (Landscape) & Small Desktop
       ============================================ */   
	.wrapper { margin: 0 auto; }
	#header-container { margin: 0;border: solid 2px;margin-bottom: 1em; }
	#header-container .wrapper { border: 0; }
	#logo{ float:left;border: none; }
	nav{ float:right;border-right: 0;}
    nav a { border-top: 0;border-bottom: solid 2px;}
    #main { float: left;width: 66.7%; }		
	#sidebar { float:right; width:25%; }
	.restaurant-image {float: right;width: 25%;}
}

@media only screen and (min-width: 1140px) {
    /* ==================================
        Layout: Large/Widescreen Desktop
       ================================== */
	.wrapper { width:1094px; margin:0 auto; } /* Width = 1140px - L&R .wrapper Margins */
}


/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
